<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

</head>


<body class="px-3" style="padding-bottom:200px;">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b> Pakete</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let bundle of bundles">
            <div class="col-7 xl-8 modulename">
              {{bundle.name}}
            </div>
            <div class="col">
              {{bundle.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Hauptmodule</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let mainModule of mainmodules">
            <div class="col-7 xl-8 modulename">
              {{mainModule.name}}
            </div>
            <div class="col">
              {{mainModule.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Lohnbuchhaltung</b></h6>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let payroll of payroll">
            <div class="col-7 xl-8 modulename">
              {{payroll.name}}
            </div>
            <div class="col">
              {{payroll.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Zusatzmodule</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let addition of additionModules">
            <div class="col-7 xl-8 modulename">
              {{addition.name}}
            </div>
            <div class="col">
              {{addition.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Optionen</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let option of options">
            <div class="col-7 xl-8 modulename">
              {{option.name}}
            </div>
            <div class="col">
              {{option.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Werkzeuge</b></h6>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let tool of tools">
            <div class="col-7 xl-8 modulename">
              {{tool.name}}
            </div>
            <div class="col">
              {{tool.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Erfassungsprogramme</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let registration of registrations">
            <div class="col-7 xl-8 modulename">
              {{registration.name}}
            </div>
            <div class="col">
              {{registration.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Rest API/Apps</b></h6>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let app of apps">
            <div class="col-7 xl-8 modulename">
              {{app.name}}
            </div>
            <div class="col">
              {{app.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Webservice</b></h6>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let webservice of webservices">
            <div class="col-7 xl-8 modulename">
              {{webservice.name}}
            </div>
            <div class="col">
              {{webservice.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h6><b>Schnittstelle</b></h6>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row" *ngFor="let interface of interfaces">
            <div class="col-7 xl-8 modulename">
              {{interface.name}}
            </div>
            <div class="col">
              {{interface.price}}.-
            </div>
            <div class="col">
              <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
            </div>
            <hr>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

  <hr>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <button class="btn"><i class="bi bi-x"></i></button>
      </div>
      <div class="col-5">
        Modul
      </div>
      <div class="col-2">
        75.-
      </div>
      <hr>
    </div>
  </div>
  <hr>

  <footer class="fixed-bottom border-top box-shadow  headerFooter">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3><b>Gesamtpreis =</b></h3>
        </div>
        <div class="col sm-2">
          75.-
        </div>
      </div>
    </div>
    <hr>
  </footer>

</body>