<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">
</head>

<body>

  <div class="p-3 px-md-4 mb-3 border-bottom box-shadow">
    <img class="img-fluid float-left" style="max-width: 30%;" src=" ../assets/Proffix_Logo.png" alt="">
    <h1 class="my-0 font-weight-bold text-center">Lizenzkalkulator</h1>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Proffix Pakete</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Hauptmodule</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Lohnbuchhaltung</b></h5>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Zusatzmodule</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Optionen</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Werkzeuge</b></h5>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Erfassungsprogramme</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Rest API/Apps</b></h5>
        <p>pro Benutzer</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Webservice</b></h5>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5><b>Schnittstelle</b></h5>
        <p>pauschal</p>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col">
              Modul
            </div>
            <div class="col">
              75.-
            </div>
            <div class="col">
              <button type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

  <hr>


  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Auswahl</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        X
      </div>
      <div class="col-5">
        Modul
      </div>
      <div class="col-2">
        75.-
      </div>
    </div>
  </div>
  <hr>


  <div class="container">
    <div class="row">
      <div class="col">
        <h2><b>Gesamtpreis =</b></h2>
      </div>
      <div class="col sm-2">
        75.-
      </div>
    </div>
  </div>

  <hr>